<% if current_user.email == 'pkhilenko@yandex.ru'  %>

<%= form_for(@adminka) do |f| %>
  <% if @adminka.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adminka.errors.count, "error") %> prohibited this adminka from being saved:</h2>

      <ul>
      <% @adminka.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Название' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body, 'Описание' %><br>
    <%= f.cktext_area :body %>
  </div>

<div class="field">
   
    <%= f.fields_for :attachments, @adminka.attachments.build do |a| %>
    <%= a.label :file, 'Картинка:' %><br>
    <%= a.file_field :file %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Добавить' %>
  </div>
<% end %>
<% end %>
